.navbar-brand img {
  max-height: 35px;
}
.justify-content-start {
  justify-content: center !important;
}
.page-footer {
  background-color: #474545;
}
.site-footer {
  color: #f3f3f3;
  background-color: #474545;
}
/* Docs sidebar li>a. */
.docs-sidebar .nav > li > a {
  font-size: 0.6rem;
}
.docs-article-container {
  font-size: 0.8rem;
}
.article-container {
  font-size: 0.8rem;
}
